/*---- Header ----*/

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.video {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1)
    ),
    url(../images/dandelions.gif);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 3% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 130px;
}

/*---- Navigation Bar ----*/
.navigation-links {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.navigation-links ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}

.navigation-links ul li {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

.navigation-links ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 8px 25px;
  transition: all 0.5s ease;
}

.navigation-links ul li a:hover {
  background-color: #d41cb8;
  color: #000000;
  box-shadow: 0 0 10px #ffffff;
  border-radius: 10px;
}
/*---- Navigation Bar ----*/

.header h1 {
  font-family: "Dancing Script", cursive;
  font-size: 113px;
  margin-top: 150px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  nav img {
    width: 80px;
  }

  .navigation-links ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .header h1 {
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    margin-top: 150px;
    text-align: center;
  }
}
/*---- Header ----*/

/*---- About Ceylon Content ----*/
.video {
  margin: auto;
  text-align: center;
  padding-top: 10px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  font-family: "Playfair Display SC", serif;
}

.video h1 {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  margin: 50px 0 20px 0;
}

.video p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 3px;
  font-size: 13px;
  color: #61656b;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
}

.my-world {
  border-radius: 10px;
  border: 2px solid #d41cb8;
  width: 400px;
}

@media only screen and (max-width: 700px) {
  .my-world {
    border-radius: 10px;
    border: 2px solid #d41cb8;
    width: 300px;
  }

  .video p {
    font-family: "Poppins", sans-serif;
    margin: auto;
    font-size: 13px;
    color: #61656b;
  }
  .video h1 {
    font-family: "Dancing Script", cursive;
    font-size: 30px;
  }
}
/*---- About Ceylon Content ----*/

/*---- Footer ----*/
.footer {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 40px 0;
}

.footer .social {
  text-align: center;
  padding: 25px;
  color: #000000;
}

.footer .social a {
  text-align: center;
  font-size: 24px;
  color: #000000;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  margin: 0 10px;
  opacity: 0.8;
}

.social-media-icons {
  display: block;
  margin: auto;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
  line-height: 2;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer .my-bae {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  color: #61656b;
  font-weight: 700;
}

.footer hr {
  width: 75%;
  margin: auto;
  background-color: #d41cb8;
  height: 2px;
}

.footer h4 {
  text-align: center;
}

/*---- Footer ----*/
